<article class="card">
    {% comment %} se existir cover do post {% endcomment %}
    {% if post.cover %}
      <div class="card-cover-wrapper">
        {% comment %} direcionando o link para blog:post com url slug pelo método get_absolute_url da nossa model {% endcomment %}
        <a href="{{ post.get_absolute_url }}" class="card-cover-link">
          <img 
            class="card-cover"
            loading="lazy"
            {% comment %} pegando a url do cover anexado no post {% endcomment %}
            src="{{ post.cover.url }}"
            src="https://picsum.photos/745/419/?rand=2{{ i }}" 
            alt="Cover do post {{ post.title }}"
          >
        </a>
      </div>
    {% endif %}
    <div class="card-text-wrapper">
      <div class="card-title-wrapper">
        <h2 class="card-title">
          {% comment %} definindo qual url vai chamar esse link, e qual slug responder {% endcomment %}
          <a href="{{ post.get_absolute_url }}" class="card-title-link">
            {{ post.title }}
          </a>
        </h2>
      </div>
  
      <div class="card-content-wrapper">
        <p class="card-content">
          {{ post.excerpt }} 
        </p>
  
        <div class="card-actions">
          <a class="card-action-link" href="{{ post.get_absolute_url }}">
            <span>Read</span>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  
  </article>