<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "blog/partials/_head.html" %}
</head>
<body>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi omnis voluptatem sed atque mollitia adipisci architecto. Aliquam laboriosam quo sunt debitis consequuntur quis labore vel? Vitae placeat similique tempore atque.</p>

    {% include "blog/partials/_header.html" %}

    {% block content %}{% endblock content %}

    {% include "blog/partials/_pagination.html" %}
    
    {% include "blog/partials/_footer.html" %}

    {% include "blog/partials/_temp.html" %}

</body>
</html>