{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        <div class="card-grid">
            {% comment %} fazendo um for fictício de 1 a 9 para os cards da home {% endcomment %}
          {% for i in ""|ljust:"9" %}
            {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
          {% endfor %}
        </div>

      </div>
    </div>
  </main>
{% endblock content %}